.heading{
    font-family: audiowide;
    font-size: 6vw;
    text-align: center;
}
#sidenavCog{
    text-decoration: none;
    color: white;
    top: 1vw;
    left: 2vw;
    position: absolute;
    font-size: 30px;
    transition: all 0.5s;
}
#sidenavCog:hover{
    text-decoration: none  !important;
    color: rgb(139, 120, 120);
    top: 1vw;
    left: 2vw;
    position: absolute;
    font-size: 30px
}
.headlinks{
    color:white;
    text-decoration: none;
}
.headlinks:hover{
   
    color: rgb(139, 120, 120);
}
.ibm{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(255, 255, 0, 0.3);
}
.edel{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(168, 99, 21, 0.3);
}
.schneider{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(172, 26, 16, 0.3);
}
.microsoft{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(12, 172, 105, 0.3);
}
.autodesk{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(62, 158, 18, 0.3);
}
.oracle{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(61, 14, 114, 0.3);
}