.main{
    /*background-color: black;*/
    position:absolute;
    z-index: 0;
    color: white;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Sarabun', sans-serif;
}
#modalLoginForm{
  z-index: 0;
}
.heading{
    color: white;
    font-family: Audiowide;
    display: block;
    text-align: center;
    font-size: 40px;
    padding-top: 2vw;
    padding-bottom: 2vw;
    z-index: 1;
    right: 0;
}
#sidenavCog{
    text-decoration: none;
    color: white;
    top: 3.5vw;
    left: 3vw;
    position: absolute;
    font-size: 30px;
    transition: all 0.5s;
}
#sidenavCog:hover{
    text-decoration: none  !important;
    color: rgb(139, 120, 120);
    top: 1vw;
    left: 2vw;
    position: absolute;
    font-size: 30px
}
/*.headlinks{
    color:white;
    text-decoration: none;
}*/
#registerbutton{
    width: 270px;
    height: 60px;
  position: relative;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
  /*color: #383736;*/
  color: white;
  border: 2px white solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
#registerbutton:hover {
  color: black;
}

#registerbutton:before {
  content: "";
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

#registerbutton:hover:before {
  top: 0;
}
a:hover{
    transition: none;
}
/*.headlinks:hover{
   
    color: rgb(139, 120, 120);
}*/
.ibm{
    padding-left: 1vw;
    border: 5px solid white;
    width: 70%;
    margin: 0 auto;
    border-radius: 2vw;
    background-color: rgba(255, 255, 0, 0.2);
}
.edel{
    padding-left: 1vw;
    border: 2px solid white;
    width: 70%;
    margin: 0 auto;
    border-radius: 2vw;
    background-color: rgba(168, 99, 21, 0.2);
}
.schneider{
    width: 70%;
    margin: 0 auto;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(172, 26, 16, 0.2);
}
.microsoft{
    width: 70%;
    margin: 0 auto;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(12, 172, 105, 0.2);
}
.autodesk{
    width: 70%;
    margin: 0 auto;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(62, 158, 18, 0.2);
}
.oracle{
    width: 70%;
    margin: 0 auto;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(61, 14, 114, 0.2);
}
#registerform{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(61, 14, 114, 0.2);
}
.w-checkboxes{
  text-align: left;
  margin-left: 28%;
}
@media (max-width: 1813px){
  .main{
    width: 100%;
  }
}
#new{
    color: white;
    font-size: 25px;
    position:absolute;
    top:25px;
    left:15px;
}
.data{
    font-family: sans-serif; font-size: 18px;;margin-left: 5%;margin-bottom: 5%; padding: 15px; text-align: justify; border: 5px solid white;   background-color: black;
}
.img-data{
    margin-left: 4%; margin-top: 7%;width: 230px; height: 230px;
}
@media only screen and (max-width: 600px) {
    .ibm{
        width: 90%;
    }
    .edel{
        width: 90%;
    }
    .schneider{
        width: 90%;
    }
    .microsoft{
        width: 90%;
    }
    .autodesk{
        width: 90%;
    }
    .oracle{
        width: 90%;
    }
    .data{
        border: none;
        margin-left: 0;
    }
    #registerform{
        width: 90%;
    }
    .img-data{
        border: none;
        margin: 0 auto;
    }
    .w-checkboxes{
        margin-left:0; 
    }
} 